<script src="./painter.js"></script>
 
<div style="width:300px;height:300;margin:30px;border:solid 1px black;float:left">
 
		<canvas id="canv" width=300px height=300px>
		</canvas>
		
</div>
<div style="width:300px;height:300;margin:30px;border:solid 1px black; float:left">
	<ul>
	<li><button onclick="askNet();">ask network</button></li>
	<li><button onclick="clearCanv();">clear</button></li>
	<li><input type = 'text' name="val"  id="inpData"  /></li>
	<li><button onclick="teachNet();">teach network</button></li>
	</ul>
</div>
<div  id="jcont" style="width:300px;height:300;margin:30px;border:solid 1px black; float:left">test</div>